body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #eeeee4;
}
/* Navigation Bar */
div.heading{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
/* div.container{
  /* padding-left: 40%;
  padding-right: 40%; */
  /* background-color: blue; 
} */
.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.content{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#education{
  display: inline;
  float: none;
  padding: 5%;
}
#skills{
  display: inline;
  float: none;
  padding: 5%;
}
#github{
  display: inline;
  float: none;
  padding: 5%;
}
#mail{
  display: inline;
  float: none;
  padding: 5%;
}