body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #eeeee4;
}
/* Navigation Bar */
div.heading{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
div.container{
  position: relative; 
  /* background-color: blue;   */
}
#profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color: black; */
}
div.content{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-color: green; */
}
#education{
  padding: 5%;
  padding-bottom: 2%;
  /* background-color: pink; */
}
#skills{
  
  padding: 5%;
  padding-bottom: 2%;
  /* background-color: gold; */
}
#github{
  
  padding: 5%;
  padding-bottom: 2%;
  /* background-color: blueviolet; */
}
#mail{
  padding: 5%;
  padding-bottom: 2%;
  /* background-color: #eeeee4; */
}