body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */


div.heading{
  width: 100%;
  padding-top:5%;
  text-align: center;
}

div.container{
  width: 100%;
}

.profile {

  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0 auto;;
}
